
span.item__price {
  font-size: 1.3rem;
  margin: 15px 0;
  color: #f62f5e;
}

span.item__price span {
  font-weight: 600;
  display: inline-block;
}

span.has__discount {
  font-size: 1rem;
  color: #000;
  margin-left: 20px;
}




