
div.card {
  width: 250px;
  height: 350px;
  background-color: #ffffff;
  margin-bottom: 20px;
  /* margin-left: 20px; */
}

div.card:hover {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
}

div.card div.item__photo {
  height: 60%;
  width: 80%;
  padding: 5px;
  overflow: hidden;
}

div.card div.item__photo__hover {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: rgba(255,255,255,0.9);
  overflow: hidden;
  transition: 0.4s;
}

div.item__photo:hover div.item__photo__hover {
  height: 100%;
  z-index: 100;
  transition: 0.4s;
}

div.item__photo div.hover__content {
  height: 7rem;
  color: #f62f5e;
}

div.card span.item__title {
  margin: 15px 0;
  font-size: 1.2rem;
  font-weight: 600;
}

div.card span.item__price {
  font-size: 1.3rem;
  margin: 15px 0;
  font-weight: 600;
  color: #f62f5e;
}

div.card span.item__price i {
  position: relative;
  left: 7px;
  top: -1px;
  font-size: 1.1rem;
}




