div.checkout {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

div.checkout div.inner__checkout {
  border-radius: 3px;
}

div.inner__checkout .checkout__padding {
  padding-left: 5rem;
  padding-right: 5rem;
}

div.inner__checkout main.checkout__main {
  min-height: 300px;
}

div.horizontal__line {
  border-bottom: 2px solid #ddd;
}



div.checkout .section__level {
  margin: 1.5rem 0;
}
