@media screen and (max-width: 620px) {

  div.view__order__inner {
    width: 95% !important;
  }

  div.view__order__inner .view__order__hori__padding {
    padding-left: 4%;
    padding-right: 4%;
  }

  div.view__order__inner header span.order__title {
    font-size: 1.3rem;
  }

  footer.view__order__footer .close__order__modal__btn {
    max-width: 150px;
  }

}
