
div.message__alert {
  font-size: 0.9rem;
  padding: 1rem; 
}

div.message__alert.success {
  color: green;
  background: rgba(0,255,0,0.1);
}

div.message__alert.failure {
  color: red;
  background: rgba(255,0,0,0.1);
}
