
span.checkbox__label label.checkbox {
  width: 17px;
  height: 17px;
  background: #ddd;
  margin-right: 10px;
  transition: all 0.3s;
}

span.checkbox__label label {
  cursor: pointer;
}

span.checkbox__label input[type="checkbox"]:checked + label.checkbox::before {
  content: "\2713";
  position: absolute;
  transition: all 0.3s;
  top: -1.2px;
  left: 2px;
  z-index: 10;
  color: #fff;
}

span.checkbox__label input[type="checkbox"]:checked + label.checkbox {
  background: #6eb2fb;
}

