@media screen and (max-width: 900px) {
  div.newsletter__sm__flex__column {
    flex-flow: column;
  }

  form.sm__newsletter__form {
    max-width: 500px;
    margin: auto;
  }

  div.sm__subscribe__info {
    margin-bottom: 8px;
  }

  div.sm__subscribe__info h3 {
    text-align: center;
    margin: auto;
  }

}
