div.review {
  background: #f4f4f4;
  padding: 0 5%;
}

.border__bottom {
  display: block;
  border-bottom: 1px solid #ddd;
}

.margin__none {
  margin: 0px !important;
}

ul.review__list li {
  margin-bottom: 3rem;
}

ul.review__list li:last-child {
  margin-bottom: 0;
}

ul.review__list li div.reviewer {
  width: 260px;
}

div.reviewer div.reviewer__detail {
  margin-top: 5px;
}

div.reviewer__detail div.review__text {
  font-size: 1.1rem;
  line-height: 1.4;
}

div.reviewer__detail span.reviewer__name {
  font-size: 1.2rem;
}

div.reviewer__detail span.review__timestamps {
  font-size: 0.9rem;
  margin-top: 4px;
  color: #777;
}


div.review__reaction div.reaction__icons {
  width: 150px;
}

div.review__reaction span.review__figures {
  line-height: 2.3;
  margin-left: 5px;
  font-size: 1.2rem;
}

form.review__form ul li.review__form__list {
  margin-bottom: 1rem;
}

li.review__form__list .review__form__input {
  border: 1px solid #ccc;
  outline: none;
  padding: 14px;
  border-radius: 5px;
  letter-spacing: 1px;
  background: #fff;
  min-width: 290px;
}

li.review__form__list .text__input {
  max-width: 300px;
}

li.review__form__list span.text__area__wrapper {
}

li.review__form__list .text__area {
  resize: none;
  height: 120px;
  width: 100%;
  max-width: 400px;
}

li.review__form__list label.review__form__label {
  width: 270px;
  font-size: 1.0rem;
}

span.text__area__wrapper span.tiny__info span:first-child {
  margin-right: 10px;
}


li.review__form__list button.review__submit__button {
  width: 150px;
  height: 40px;
}

