
@media screen and (max-width: 1000px) {

  div.confirmation div.section__gap {
    display: none;
  }

  div.confirmation .confirmation__flex__column {
    flex-flow: column;
  }

  div.confirmation div.overlap {
    width: 100px;
    margin: 0.5rem 0;
  }
}
